API_PUBLIC=https://api.eventjuicer.com/v1/public/hosts/targiehandlu.pl
API_SERVICES=https://api.eventjuicer.com/v1/services
TEMP_PREORDER_URL=https://stoiska.targiehandlu.pl/preorder


ORGANIZER_NAME='Infoguru Sp. z o.o. Sp. k.'
ORGANIZER_ADDRESS='POLAND, Poznań, Truskawiecka 13'
ORGANIZER_REGNO='VAT ID 7811967834'
EVENT_LOCATION='EXPO XXI Warszawa, Prądzyńskiego 12/14'
EVENT_DATE='7 listopada 2018'
EVENT_HOURS='10:00-17:00'
